a {
  text-decoration: none;
  color: $red;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.form--interest input[type='text'], .form--interest input[type='email'], .form--interest input[type='url'] {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }
}

@media screen and (min-width: 30em) {
  .form--interest input[type='text'], .form--interest input[type='email'], .form--interest input[type='url'] {
    width: calc(50% - 12px);
    &:nth-child(2n) {
      margin-right: 12px;
    }
  }
}

.faq {
  li {
    position: relative;
  }
  .faq__open-icon {
    transform: rotate(45deg);
    font-weight: 600;
  }
  .faq__answer {
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.25s ease-in-out;
    position: relative;
    z-index: 2;
    p {
      margin-bottom: 0;
    }
  }
  .faq__question {
    font-weight: 600;
  }
  input[type=checkbox] {
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    position: absolute;

    &:checked ~ .faq__answer {
      margin: 0;
      max-height: 0;
      opacity: 0;
      transform: translate(0, 50%);
    }

    &:checked ~ .faq__open-icon {
      transform: rotate(0deg);
    }
  }
}

.faq__question, .faq__answer {
  width: 90%;
}

.product {
  max-width: 1000px;
}

.product__content {
  margin-top: 80px;
  max-width: 36em;
}

@media screen and (min-width: 60em) {
  .product__content {
    width: calc(100% - 312px - 4rem);
  }
}

.phone {
  background: transparent url(../images/phone_top.svg) no-repeat;
  background-repeat: no-repeat;
  padding: 128px 23px 91px 35px;
  width: 312px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 260px;
    bottom: 80px;
    background: transparent url(../images/phone_middle.svg) repeat-y;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: transparent url(../images/phone_bottom.svg) no-repeat;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    font-size: 12px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    max-width: 190px;
    margin-top: 6px;
    position: relative;
  }
  .bubble--shiip {
    background-color: #EBEBF0;
    margin-right: auto;
    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -4px;
      left: -7px;
      height: 20px;
      border-left: 20px solid #EBEBF0;
      border-bottom-right-radius: 16px 14px;
      transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 3;
      bottom: -4px;
      left: 22px;
      width: 8px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      transform: translate(-30px, -2px)
    }
  }
  .bubble--client {
    background-color: #F04850;
    color: #fff;
    margin-left: auto;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -4px;
      right: -7px;
      height: 20px;
      border-right: 20px solid #F04850;
      border-bottom-left-radius: 16px 14px;
      transform: translate(0, -2px);
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -4px;
      right: -38px;
      width: 8px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      transform: translate(-30px, -2px);
    }
  }
}

.timeline {
  position: relative;
  height: 1800px;
  margin-top: 32px;
  div {
    position: absolute;
  }
  p:first-child {
    font-size: 14px;
    margin: 0;
  }
  p:last-child {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
  }
  div:first-child {
    top: 0;
  }
  div:nth-child(2) {
    top: 220px;
  }
  div:nth-child(3) {
    top: 520px;
  }
  div:nth-child(4) {
    top: 1300px;
  }
  div:nth-child(5) {
    top: 1600px;
  }
}