<!doctype html>
<html class="no-js" lang="">
  {% include head.html %}
  <body class="pa3 pa5-ns">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="content">
          <div class="cf bb b--black-10 pb4">
            <div class="w-25-l w-100 fl-l">
              <img src="images/shiip--outline.svg" class="fr-l mr5">
            </div>
            <div class="w-75-l w-100 fl-l">
              <div class="bb bw1 b--black-60">
                <h1 class="f3 f1-l mb0">Shiip provides you with a technical cofounder</h1>
                <p class="b black-60 mv2">Not freelancers, not a dev shop, CTO as a service.</p>
                <a href="https://shiip.typeform.com/to/PstUdA" target="_blank" class="link br2 ba bw1 ph4 pv2 mb2 dib mt3 mb4 red button--cta">Talk to us!</a>
              </div>
              <h2 class="mv3">We help founders get started on their product</h2>
              <div class="cf mb4">
                <p class="w-50-l w-100 pr3 fl-l lh-copy measure mv0">Our mission is to help you build and ship your product for a fraction of the cost and effort of doing it yourself. Building a good product is expensive, and time and money can both work against you at seed stage. Shiip brings to the table the technical resources and guidance on establishing a technology company.</p>
                <p class="w-50-l w-100 fl-l lh-copy measure mv0-l">We have seen great ideas executed badly and demoralising good founders. If your community is scarce in technology leaders, don’t let that be an obstacle. Come talk to us.</p>
              </div>
              <a href="{{site.baseurl}}/product" class="link red arrow-right arrow-right--red f6">Learn how we can help to build your product</a>
            </div>
          </div>

          <div class="flex flex-column flex-row-ns mw7 center pa5-l pt5 ph3 pb3">
            <div class="w-100 w-40-ns pr3-ns order-0 tc">
              <img src="images/talent.svg">
            </div>
            <div class="pl3-ns order-1 mb0 w-100 w-60-ns">
              <h3 class="f3 mt0-ns">Talent focused</h3>
              <p class="lh-copy">Unlike working with freelancers, we have a stake in seeing your company succeed. And they say, a product is only as strong as the team behind it. We will help to hire and train your in house core team for a smoother transition to self-sustenance. Our network of local consultants have worked in startups such as Carousell, Facebook & Shopify</p>
            </div>
          </div>

          <div class="flex flex-column flex-row-l justify-center bb bt-l b--black-10">
            <div class="order-0 pa5-l ph3 pv5 w-50-l w-100 flex flex-column flex-row-m">
              <div class="pr3-ns order-0 tc w-100 w-40-m">
                <img src="images/market-ready.svg">
              </div>
              <div class="pl3-ns order-1 mb4 mb0-ns w-100 w-60-m">
                <h3 class="tc-l f3 mt0-m">Market ready</h3>
                <p class="measure-narrow lh-copy center">Focus on business goals, let us use our experience to build you a strong product to support your goals.</p>
              </div>
            </div>
            <div class="order-1 pa5-l ph3 pv5 w-50-l w-100 flex flex-column flex-row-m">
              <div class="pr3-ns order-0 tc w-100 w-40-m">
                <img src="images/cost-effective.svg">
              </div>
              <div class="pl3-ns order-1 mb4 mb0-ns w-100 w-60-m">
                <h3 class="tc-l f3 mt0-m">Cost effective</h3>
                <p class="measure-narrow lh-copy center">Our hybrid payment plans allows you to invest your initial capital in marketing, branding instead of putting all of it into just product; increasing the chances of your start up succeeding.</p>
              </div>
            </div>
            <div class="order-1 pa5-l ph3 pv5 w-50-l w-100 flex flex-column flex-row-m">
              <div class="pr3-ns order-0 tc w-100 w-40-m">
                <img src="images/collaboration.svg">
              </div>
              <div class="pl3-ns order-1 mb4 mb0-ns w-100 w-60-m">
                <h3 class="tc-l f3 mt0-m">We are Partners</h3>
                <p class="measure-narrow lh-copy center">Skip all the pitfalls early product struggle with by leveraging our experience working with startups of different sizes. We will guide you in building your product and team for the best chances of success.</p>
              </div>
            </div>
          </div>

          <div class="bb b--black-10 pa5-l ph0 pv4 nested-list-reset">
            <h2 class="mt0">Frequently asked questions</h2>
            <ul class="faq bt bw1">
              {% assign items = site.faqs | sort: 'order' | reversed %}
              {% for faq in items %}
              <li class="bb bw1 pv3 ph2 cf">
                <input type="checkbox" checked>
                <p class="fr ma0 f4 lh-solid faq__open-icon">+</p>
                <p class="ma0 fl faq__question">{{ faq.question }}</p>
                <div class="fl faq__answer">{{ faq.content }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="form--interest pv4" id="form-interest">
            <h2 class="mt0">I’m sold, how do I begin?</h2>
            <p class="mv4">If you have something you want to build, simply fill out this form, and we will take it from here.</p>
            <a href="https://shiip.typeform.com/to/PstUdA" target="_blank" class="link br2 ba bw1 ph4 pv2 mb2 dib mt3 mb4 red button--cta">Talk to us!</a>
          </div>
        </div>

        {% include footer.html %}

        <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
        <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script> -->
        <!-- <script src="js/plugins.js"></script> -->
        <!-- <script src="js/main.js"></script> -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>
</html>
