<!doctype html>
<html class="no-js" lang="">
  {% include head.html %}
  <body class="pa3 pa4-m pa5-l">
    <div class="cf mv4 center product relative">
      <a href="{{site.baseurl}}"><img src="images/shiip--outline.svg" class="absolute logo"></a>
      <div class="fl-l mt6 mr5-l product__content center">
        <h1 class="f3 mb1">At Shiip, your product is our utmost priority</h1>
        <p class="mt0 measure">See how we can help to grow your product while you grow your company. The process will vary between companies but here’s get a glimpse of how we work.</p>

        <div class="bl b--black-10 pl4 nl4 timeline dn db-l">
          <div>
            <p>Get to know each other</p>
            <p>1 week</p>
          </div>
          <div>
            <p>Finalisation of project scope</p>
            <p>2 weeks</p>
          </div>
          <div>
            <p>Intensive development</p>
            <p>3-4 months</p>
          </div>
          <div>
            <p>2-month product sprint cycle</p>
            <p>6 months</p>
          </div>
          <div>
            <p>Build your development team</p>
            <p>2-4 months</p>
          </div>
        </div>
      </div>
      <div class="phone center fl-l mt4 mt3-l">
        <ul class="list ma0 pa0">
          <li class="bubble--client">Hi Shiip, I’d love to work with you guys.</li>
          <li class="bubble--client">How do we begin?</li>
          <li class="bubble--shiip">Cool! Reaching out to us would be the best first step. 👍</li>
          <li class="bubble--shiip">We will meet you with over coffee (or over several ☕️s) to get to know more about your company, where you are at, and where you want to get to</li>
          <li class="bubble--client">Why do you need to know that? I just want to get something built!</li>
          <li class="bubble--shiip">To make sure that Shiip will be a good fit for your company, we will need to know that what we are offering is what you need at your company at the present.</li>
          <li class="bubble--client">Got that! 😁</li>
          <li class="bubble--client">When do we start working together?</li>
          <li class="bubble--shiip">Coming out of the meetings, and with each party clear about what to expect in this collaboration, we will begin scoping and nailing down the timeline for the project.</li>
          <li class="bubble--shiip">The first 3 - 4 months will be the most intensive period, where we will develop your core product, an MVP, a new feature, or a pivot of the current product.</li>
          <li class="bubble--client">Do I need developers on the team at this point?</li>
          <li class="bubble--shiip">It’s not necessary. Shiip will engage developers to work with us. We will work closely with you and the developer(s) in sprints to make sure that the product is moving in the correct direction</li>
          <li class="bubble--client">What happens after the 3 months?</li>
          <li class="bubble--shiip">Start selling your product!</li>
          <li class="bubble--shiip">You will realise that some of your hypotheses will be validated, others rejected.</li>
          <li class="bubble--shiip">Talk to your users, identify trends on analytical platform, and then we will move on to the next stage.</li>
          <li class="bubble--client">Next stage?</li>
          <li class="bubble--shiip">Yup refining your product. Spend the next 3-4 improving your product. Shiip will work with you on 2 months sprint cycles, bringing updates to your product.</li>
          <li class="bubble--client">Cool! How long can I engage Shiip for?</li>
          <li class="bubble--shiip">We will be working with you for a total of 12 months to bring your product to the next milestone.</li>
          <li class="bubble--shiip">However, you are good to terminate this working relationship after 6 months if you have decided not to continue with your business</li>
          <li class="bubble--client">How do I prepare for the transition period after the 12 months?</li>
          <li class="bubble--shiip">If you have yet to form a development team, look at hiring 4 months before the end of engagement.</li>
          <li class="bubble--shiip">Shiip can offer advice and expertise during this hiring phase.</li>
          <li class="bubble--shiip">In the last 2-month product cycle, Shiip will work directly with your development team to assist in the transfer of knowledge and to prepare potential technology leaders in your team.</li>
          <li class="bubble--client">💪</li>
        </ul>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
